body {
    background-color: aliceblue;
}
.row {
    height: 200px;
}
#jewel0 {
    
}
#jewel1 {
    
}
#jewel2 {
    
}
#jewel3 {
    
}
#textbox {
    text-align: center;
    font-size: 35px;
    background-color: aliceblue;
}